- name: Install NUT packages
  package:
    name:
      - nut
      - nut-client
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Modify upsmon.conf
  blockinfile:
    path: /etc/nut/upsmon.conf
    block: |
      MONITOR ups@10.27.1.100 1 upsmon {{ nut_password }} secondary
    insertafter: EOF