- name: Run Portainer agent (idempotent)
  become: true
  community.docker.docker_container:
    name: portainer-agent
    image: "portainer/agent:latest"
    state: started
    restart_policy: always
    published_ports:
      - "9001:9001"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/volumes:/var/lib/docker/volumes"
      - "/:/host"
    pull: true