- name: Install samba
  apt:
    name:
      - samba
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Ensure Samba group is created
  group:
    name: samba
    state: present

- name: Allow Samba through UFW
  become: true
  community.general.ufw:
    rule: allow
    name: Samba

- name: Ensure smbd is enabled and running
  become: true
  service:
    name: smbd
    state: started
    enabled: true

- name: Set Samba password for {{ username }}
  expect:
    command: smbpasswd -a {{ username }}
    responses:
      "New SMB password:": "{{ samba_password }}"
      "Retype new SMB password:": "{{ samba_password }}"

- name: Modify smb.conf
  blockinfile:
    path: /etc/samba/smb.conf
    block: |
      [docker-files]
        path = /home/{{ username }}/docker-files
        read only = no
        browsable = yes
    insertafter: EOF